/* JF */
a.lien:visited,a.lien:link {color:#4171ac;}
.CT{
	color: #fff; 
	width: 26px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	background: url(../images/credit_time_icon_empty.png);
	background-position: center top;
	background-repeat: no-repeat;
}

/*a.popup{
    color:#ccc;
    text-shadow:0 -1px 0 black;
}
a.popup:hover,a.popup:focus{
    background:rgba(0,0,0,.4);
    box-shadow:0 1px 0 rgba(255,255,255,.4);
}*/
.text-black{
    color:#000;
}
.text-justify {
	text-align: justify;
}

a.popup{
    color:#000;
}
a.popup i
{
	text-transform: unset;
}
a.popup span
{
	position:absolute; 
	z-index:10;
	margin-top:25px;
	margin-left:-50px;
	color:#fff;
	background:rgba(65,113,172,.9);
	padding:15px;
	border-radius:3px;
	box-shadow:0 0 2px rgba(65,113,172,.5);
	opacity:0;
	transform:scale(0) rotate(-12deg);
	transition:all .25s;
}
a.popup:hover span, a.popup:focus span, a.popup-light:hover span, a.popup-light:focus span{
	transform:scale(1) rotate(0);
	opacity:1;
}
a.popup-light span{
	position:absolute; 
	z-index:10;
	margin-top:25px;
	margin-left:-200px;
	color:#000;
	background:rgba(217,212,206,.9);
	padding:15px;
	border-radius:5px;
	box-shadow:0 0 2px rgba(217,212,206,.5);
	opacity:0;
	transform:scale(0) rotate(-12deg);
	transition:all .5s;
}

fieldset {
	border: 1px solid #D3D3D3;
	padding: 1em;
	border-radius: 8px;
}

fieldset.veh{
	background-color: #EBE7E3;
	margin: 15px;
	width: 250px;
	height: 200px;
}
fieldset.veh_reco{
	border: 0;
	background-color: #EBE7E3;
	margin: 15px;
	width: 250px;
	height: 120px;
}
.veh_header{
    height: 30px;
    min-height: 30px;
}
.veh_body{
    min-height: 120px;
	line-height: 120px;
	text-align: center;
}
.veh_footer{
    height: 30px;
}
.name_veh{
	font-weight: bold;
	text-align: center;
}
.s-12{
	font-size: 12px;
}
.s-10{
	font-size: 10px;
}

legend {
	font-family:'dejavu_sanscondensed_bold';
	text-decoration:none;
}

img{
	border-radius: 5px;
}

img.img-flex {
	width: 100%;
}

img.img-flex-icon {
	width: 10%;
	max-width: 50px;
}

.v-align{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img-photo{
	width: 225px;
	height: 300px;
}

.table-800{
	max-width: 800px;
}

.i-flex{
	display: inline-flex;
}

.inline{
	display: inline;
}

.flex-center {
	 display: flex;
	 justify-content: center;
	 align-content: center;
	 align-items: center;
}

.flex-table {
	display: inline-table;
	justify-content: center;
	align-content: center;
	align-items: center;
}

label{
	margin-top: 0.5em;
}

.striped>div:nth-child(odd){
	background: rgba(255,255,255,0.4);
}

.help_icon{
	background-image: url(../images/help.png);
	width: 25px;
	height: 25px;
}

.led_red{
	background-image: url(../images/led_red.png);
	width: 20px;
	height: 20px;
}

.led_green{
	background-image: url(../images/led_green.png);
	width: 20px;
	height: 20px;
}

.led_orange{
	background-image: url(../images/led_orange.png);
	width: 20px;
	height: 20px;
}

.premium20{
	background-image: url(../images/premium20.png);
	width: 15px;
	height: 20px;
}

.action-jour{
	background-image: url(../images/action_jour_icon.png);
	width: 30px;
	height: 30px;
}

.CT25{
	background-image: url(../images/CT25.png);
	width: 30px;
	height: 30px;
}

.camouflage{
	background-image: url(../images/camouflage.png);
	width: 50px;
	height: 50px;
}

.dossier{
	background-image: url(../images/dossier.gif);
	width: 56px;
	height: 50px;
}

.img_opa{
	transition: opacity 0.7s ease-out;
    opacity: 0.5;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.infra {
	padding: 0;
}
.body-infra{
	height : 80px;
	text-align: center;
}
.footer-infra{
	background: rgba(255,255,255,0.4);
}
.badge {
	margin-bottom: 1em;
}
.panel-heading{
	font-weight: bold;
	font-size: 1.2em;
}
.panel-war{border-color:#9F9890}.panel-war>.panel-heading{color:#fff;background-color:#9F9890;border-color:#fff}.panel-war>.panel-heading+.panel-collapse .panel-body{border-top-color:#fff}.panel-war>.panel-footer+.panel-collapse .panel-body{border-bottom-color:#fff}
.panel-war>.panel-heading>span.label{float:right;}
.label-warning{background-color:#ec861f}

.hidden-xs-up{display:none!important}@media (max-width:575px){.hidden-xs-down{display:none!important}}@media (min-width:576px){.hidden-sm-up{display:none!important}}@media (max-width:767px){.hidden-sm-down{display:none!important}}@media (min-width:768px){.hidden-md-up{display:none!important}}@media (max-width:991px){.hidden-md-down{display:none!important}}@media (min-width:992px){.hidden-lg-up{display:none!important}}@media (max-width:1199px){.hidden-lg-down{display:none!important}}@media (min-width:1200px){.hidden-xl-up{display:none!important}}.hidden-xl-down{display:none!important}
/*.modal-open{overflow:auto}.modal{position:fixed;top:200;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;outline:0}.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;-webkit-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}.modal.show .modal-dialog{-webkit-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);border-radius:.3rem;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0}.modal-backdrop.show{opacity:.5}.modal-header{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding:15px;border-bottom:1px solid #eceeef}.modal-title{margin-bottom:0;line-height:1.5}.modal-body{position:relative;-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;padding:15px}.modal-footer{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;padding:15px;border-top:1px solid #eceeef}.modal-footer>:not(:first-child){margin-left:.25rem}.modal-footer>:not(:last-child){margin-right:.25rem}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:576px){.modal-dialog{max-width:500px;margin:30px auto}.modal-sm{max-width:300px}}@media (min-width:992px){.modal-lg{max-width:800px}}.tooltip{position:absolute;z-index:1070;display:block;font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;font-style:normal;font-weight:400;letter-spacing:normal;line-break:auto;line-height:1.5;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;white-space:normal;word-break:normal;word-spacing:normal;font-size:.875rem;word-wrap:break-word;opacity:0}
*/
.modal-content {
	background-color: #E9E4DE;
}
.mt-2{margin-top:.5rem!important}

.c-300{
	max-width:300px;
}

@media (max-width:1199px){
	.icon-avion{
		max-width: 100px;
	}
	.dossier{
		width: 28px;
		height: 25px;
	}
}
#map_task{
	display: block;
	position: absolute;
	z-index: 2;
	background: transparent url(./images/map/range50p.png) no-repeat 0 0;
}
div#col_gauche {
	float:left;
	margin-left : 20px;
	}
div#col_droite {
	float:left;
	margin-left : 10px;
	}
div#profil_photo {
	float:left;
	margin-left : 10px;
	width: 230px;
	height: 360px;
	}
div#profil_infos {
	float:left;
	width: 200px;
	height: 360px;
	}
div#profil_skills{
	float:left;
	width: 430px;
	height: 360px;
	}
div#profil_stats{
	position : absolute;
	/*left: 1100px;
	width: 100px;
	height: 360px;*/
	}
div#profil_decorations {
	clear:both;
	/*float:left;
	margin-left : 10px;
	width:780px;
	height:200px;*/
	}
div#profil_actions{
	position : absolute;
	top: 510px;
	left: 985px;
	width: 140px;
	height: 300px;
}
div#account {
	float:left;
	margin-left : 20px;
	width: 300px;
	height: 360px;
	}
div#account_photo {
	float:left;
	width: 200px;
	height: 360px;
	}
div#account_menu {
	clear:both;
	float:left;
	margin-left : 20px;
	width:600px;
	height:200px;
	}
#dhtmltooltip{
	position: absolute;
	width: 200px;
	height: 120px;
	border: 2px solid black;
	padding: 2px;
	background-color: #ECDDC1;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}